.postsContainer {
  height: 100vh;

  .mainColumns {
    padding-top: 3%;
    height: 96vh;
  }

  .searchBarDiv {
    .row {
      margin-bottom: 3%;
      margin-left: 1%;
      margin-right: 1%;
    }

    .searchBox {
      padding-top: 6%;
      border: 1px solid rgb(238, 238, 238);

      .searchCompany,
      .searchPosition {
        padding: 0;
      }

      .searchBtnDiv {
        .searchBtn {
          width: 100px;
        }
      }
    }
  }

  .sortKeyDiv {
    label {
      margin-right: 8px;
    }

    #sortKey {
      margin-top: 16px;
    }
  }

  .postsList {
    height: 86vh;
    overflow-y: auto;
  }

  .newPostButtonDiv {
    position: fixed;
    bottom: 6%;
    left: 3%;
  }
}
