.managePostContainer {
  height: 92vh;
  margin-top: 64px;

  .getItemDiv {
    padding: 3%;
    text-align: right;

    input {
      margin-bottom: 6px;
    }
  }

  .postDeleteActions {
    margin-top: 100px;
    padding: 3%;
    text-align: right;

    input,
    .deleteButtons {
      margin-bottom: 6px;
    }
  }

  .editAreaCol {
    border-left: 1px solid rgb(240, 240, 240);

    .postInformation,
    .postAttachments {
      margin: 6px;

      .formItem {
        margin: 6px 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
      }

      .autoCompleteInput {
        padding: 0px !important;
      }

      textarea {
        margin: 6px 0px;
        min-height: 260px;
        max-height: 260px;
        height: 260px;
      }

      .actions {
        margin-top: 6px;
        text-align: right;

        span {
          margin-left: 6px;
        }
      }
    }
  }
}
